<html lang="en">
  <%- include('./head') %>
  <div class="navbar-wrapper bg-yellow">
    <ul class="nav justify-content-end">
      <li class="nav-item">
        <a class="nav-link links" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link links" href="/signup">Signup</a>
      </li>
      <li class="nav-item">
        <a class="nav-link links" href="/login">Login</a>
      </li>
    </ul>
  </div>
</html>
