* {
  margin: 0;
  padding: 0;
}

.navbar-wrapper {
  width: 100%;
  height: 50px;
  background: rgb(40, 201, 230);
}

.links {
  color: #ffffff;
  font-size: 18px;
}

.links:hover {
  color: #000000;
}

.homepage-wrapper {
  width: 100%;
  height: 100%;
  background: rgb(217, 235, 236);
}

/* Sign up and login pages */
.form-wrapper {
  width: 350px;
  margin: 100px auto;
  background: #ffffff;
  box-shadow: 0px 5px 5px 6px;
  border-radius: 2px;
  text-align: center;
}

.input-type-text {
  width: 300px;
  height: 40px;
  margin-bottom: 10px;
  margin-left: 25px;
  border: none;
  border-bottom: 2px solid rgb(192, 19, 140);
}

.input-type-btn {
  width: 120px;
  height: 40px;
  border: none;
  background: rgb(143, 13, 78);
  border-radius: 5px;
  margin: 15px 115px;
}

.input-type-btn:hover {
  color: #ffffff;
}

small {
  color: red;
}

/* Sign up and login pages */

/* profile page  */
.profile-wrapper {
  position: relative;
  z-index: 1;
}

.profile-image {
  width: 250px;
  height: 250px;
  border-radius: 50%;
}

.name-text-wrapper {
  font-size: 18px;
  color: #000000;
}

.name-text-wrapper:hover {
  text-decoration: none;
  color: #000000;
}

.bg-yellow {
  background: #e2d40a;
}

.log-out {
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
}

.log-out:hover {
  color: #0de278;
  text-decoration: none;
}

.main-wrapper {
  width: 100%;
  background: #e2d40a;
  margin: 0 auto;
  margin-bottom: 50px;
}

.sittings-wrapper {
  width: 120px;
  text-align: center;
  border: none;
  background: #e2d40a;
  height: 100px;
  font-size: 20px;
  color: #ffffff;
  line-height: 100px;
}

.sittings-wrapper:hover {
  text-align: center;
  background: rgb(204, 203, 124);
  height: 100px;
}

/* for searching users */

#list-wrapper {
  position: absolute;
  z-index: 100;
  margin-top: 70px;
  right: 50px;
}

.finded-list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  word-wrap: none;
  list-style-type: none;
  font-size: 18px;
  margin-top: 0.4rem;
  padding: 0.6rem;
  color: #ffffff;
  background: #e2d40a;
  text-align: center;
  cursor: pointer;
  border-radius: 5px;
}

/* for searching users end */

/* Images content */

.images-wrapper {
  width: auto;
  text-align: center;
  background: #ffffff;
  box-shadow: 1px 10px 15px 1px;
}

.photos-list-group {
  width: auto;
  margin: 50px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  margin-bottom: 50px;
}

.image-list-item {
  list-style-type: none;
  margin: 0.5rem;
  width: 250px;
  margin-bottom: 30px;
  box-sizing: border-box;
}

.inform-about-updates {
  color: #0de278;
  font-size: 20px;
  text-align: center;
}

.reg-image {
  width: 250px;
  height: 250px;
  margin-bottom: 10px;
  cursor: pointer;
}

.upload-Photo-inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.upload-Photo-inputfile + label {
  font-size: 1.25em;
  font-weight: 700;
  color: white;
  width: 200px;
  height: 45px;
  text-align: center;
  cursor: pointer;
  line-height: 45px;
  background-color: rgb(184, 197, 6);
  display: inline-block;
}

.upload-Photo-inputfile:focus + label,
.upload-Photo-inputfile + label:hover {
  background-color: rgb(217, 255, 0);
  color: #000000;
}

.upload-photo-btn {
  width: 100px;
  height: 45px;
  color: #ffffff;
  background: #e2d40a;
  border: none;
  font-size: 20px;
  font-weight: 700;
  line-height: 45px;
}

.upload-photo-btn:hover {
  color: #000000;
}

/* Change Sittings  */

.changeForm {
  width: 100%;
  height: 350px;
  border: none;
  border-radius: 5px;
  background: #ffffff;
  box-shadow: 1px 10px 15px 1px;
  box-sizing: border-box;
  text-align: center;
  margin-bottom: 150px;
  padding-top: 30px;
}

.change-input-wrapper {
  width: 400px;
  margin: 0 auto;
}

.change-input-wrapper input {
  width: 400px;
  margin: 10px;
  border: none;
  border-bottom: 1px solid #e2d40a;
}

.change-input-wrapper button {
  width: 200px;
  height: 45px;
  border: none;
  color: #ffffff;
  font-size: 20px;
  background: #e2d40a;
  border-radius: 3px;
}

.change-input-wrapper button:hover {
  color: #000000;
}

.close {
  display: none;
}

#inform-about-changes {
  font-size: 20px;
  color: #0de278;
}

/* Change sittings end */

/* profile page end */

/* footer page */

footer {
  position: fixed;
  height: 70px;
  bottom: 0;
  width: 100%;
  background: #e2d40a;
  margin-top: 100px;
}

.footer-item {
  text-align: center;
}

.footer-item a {
  text-decoration: none;
  color: #ffffff;
  font-size: 22px;
  line-height: 70px;
}

.footer-item a:hover {
  color: #000000;
}

/* footer page end */

/* Notifications */

.notifications-wrapper {
  /* width: 100%;
  background: #ffffff;
  box-shadow: 1px 10px 15px 1px;
  display: flex; */
  /* justify-content: space-evenly; */
  /* background: #ffffff;
  box-shadow: 1px 10px 15px 1px; */
  text-align: center;
  height: 70px;
}

.friendRequestList {
  padding: 15px;
  background: #ffffff;
  box-shadow: 5px 10px 10px 15px;
  text-align: center;
  margin: 0 auto;
  position: absolute;
  left: 60px;
  top: 75px;
  z-index: 200;
}

.message-notes {
  width: 150px;
  height: 70px;
  margin: 0 auto;
  padding: 10px;
  color: #000000;
  background: #e2d40a;
  border: none;
}

.message-notes:hover {
  background: #e2d40a;
  color: #ffffff;
}

.friendRequestList-item {
  height: 45px;
  padding: 1rem;
  display: flex;
  align-items: center;
  border: none;
  color: #000000;
  list-style-type: none;
  text-align: center;
  margin: 0 auto;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
}

.not-btn {
  font-size: 16px;
  height: 30px;
  border: none;
  padding: 0.3rem;
  background: #9e9499;
  color: #ffffff;
  line-height: 15px;
  border-radius: 3px;
  margin-left: 10px;
}

.name {
  color: #000000;
  white-space: nowrap;
}

.green {
  background: green;
}

/* Notifications END */

/* Friends content */

.friends-page-wrapper {
  display: flex;
  width: auto;
  height: auto;
  margin-bottom: 150px;
  justify-content: center;
  background: #ffffff;
  box-shadow: 1px 10px 15px 1px;
}

.friend-link {
  font-size: 18px;
  color: #ffffff;
}

.friend-link:hover {
  text-decoration: none;
  color: #ffffff;
}

.friend {
  height: 220px;
  width: 200px;
  background: #ffffff;
  box-sizing: border-box;
  text-align: center;
  color: #ffffff;
  margin-top: 30px;
  margin: 1rem;
  margin-bottom: 100px;
}

.friend-img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.friend-name {
  color: #0de278;
  font-size: 18px;
  white-space: nowrap;
  margin-top: 20px;
  cursor: pointer;
}

/* Friends content End*/

/* Status Content */

/* Share new status */
.share-status-form {
  display: flex;
  align-items: center;
}

.share-status-input {
  width: 100%;
  height: 55px;
  border-radius: 5px;
  border: 2px solid rgb(130, 224, 22);
  text-align: 16px;
  color: #0de278;
  padding-left: 5px;
}

.share-status-btn {
  width: 100px;
  height: 55px;
  background: #0de278;
  border: none;
  border-radius: 5px;
  margin-left: 2px;
  color: #ffffff;
}

.share-status-btn:hover {
  background: #36b877;
  color: #ffffff;
}

.upload-image-wrapper .share-input-file {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.upload-image-wrapper .share-input-file + .js-labelFile {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  height: 55px;
  line-height: 40px;
  cursor: pointer;
  margin-top: 8px;
}

.like_comment_titles_div {
  background: rgba(196, 191, 191, 0.582);
  width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  border-radius: 5px;
  padding: 0.5rem;
  color: #ffffff;
}

.liked-user-li {
  list-style-type: none;
  width: 300px;
  border-radius: 5px;
  background: rgba(88, 158, 204, 0.5);
  padding: 0.3rem;
  margin: 0.1rem auto;
}

.liked-user-li a {
  color: #ffffff;
  cursor: pointer;
  font-size: 18px;
}

.liked-user-li a:hover {
  text-decoration: none;
  color: #051b20;
}

.removeCommentBtn {
  background: #e20d42;
  color: #ffffff;
  border: none;
  border-radius: 100%;
  text-align: center;
  padding: 0.3rem;
  font-size: 18px;
}

.comments-title {
  color: #ffffff;
  font-size: 20px;
  cursor: pointer;
}

.comments-title:hover {
  color: #0de278;
}

/* Share new status END*/

.status-wrapper {
  width: auto;
  padding: 3rem;
  margin: 100px auto;
  background: #ffffff;
  box-shadow: 1px 10px 15px 1px;
  text-align: center;
}

.status-div {
  text-align: center;
}

.status-writer {
  font-size: 21px;
  color: #0c6ba1;
  font-weight: 600;
}

.status-writer:hover {
  text-decoration: none;
  color: #0c6ba1;
}

.status-text {
  font-size: 17px;
  color: #073f6d;
  white-space: pre-line;
}

.status-image {
  max-width: 500px;
  max-height: 500px;
  margin-bottom: 30px;
  cursor: pointer;
}

.comment-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.comment-list-group {
  text-align: center;
}

.comment-list-item {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  margin: 0.5rem auto;
  background: #05c8eb;
  border-radius: 5px;
}

.comment-writer {
  color: #073f6d;
  font-size: 18px;
}

.comment-write:hover {
  text-decoration: none;
  color: #073f6d;
}

.comment-text {
  font-size: 18px;
  color: #ffffff;
}

.comment-input {
  width: 300px;
  padding: 0.5rem;
  border-radius: 5px;
  color: #0c6ba1;
}

.comment-btn {
  width: 100px;
  padding: 0.5rem;
  background: #36b877;
  border: none;
  border-radius: 5px;
  margin-left: 3px;
  color: #ffffff;
}

.comment-btn:hover {
  background: #0f663a;
}

.removeSpan {
  font-size: 40px;
  color: #e20d42;
  cursor: pointer;
  margin: 10px;
}

/* Status Content END*/

/* Buttons */

.btn-small-success {
  font-size: 16px;
  font-weight: normal;
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  text-align: center;
  padding: 0.5rem;
  background: #0de278;
}

.btn-small-success:hover {
  background: #36b877;
}

.btn-small-warning {
  font-size: 16px;
  font-weight: normal;
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  text-align: center;
  padding: 0.5rem;
  background: #e20d42;
}

.btn-small-warning:hover {
  background: #da2f5a;
}

.unliked-btn {
  font-size: 50px;
  color: #36b877;
  cursor: pointer;
  /* background: #e20d42; */
}

.liked-btn {
  font-size: 50px;
  color: #024925;
  cursor: pointer;
  /* background: #0de278; */
}

/* Buttons END*/

/* Modal image styles */

.modal-image {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9);
  /* Black w/ opacity */
}

.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

.closeSpan {
  cursor: pointer;
  right: 35px;
  color: #f5efef;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
  position: absolute;
  right: 100px;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
  .modal-content {
    width: 100%;
  }
}

/* Modal image styles END*/

/* messages content */
.message-friends-list-item {
  list-style-type: none;
  padding: 1rem;
  color: #ffffff;
  font-size: 18px;
  background: #0de278;
  text-align: center;
  border-radius: 5px;
  margin: 0.5rem;
  cursor: pointer;
}

.messages-right-content {
  width: 100%;
  height: 700px;
  border: 3px solid #0de278;
}

.send-message-form {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 50px;
  left: 200px;
  margin-top: 100px;
}

.sendMessageText {
  width: 300px;
  padding: 0.5rem;
  color: #000000;
  border-radius: 3px;
}

.sendMessageBtn {
  padding: 0.5rem;
  border: none;
  border-radius: 3px;
  background: #0de278;
}

.chat-window {
  width: 400px;
  height: 500px;
  background: #ffffff;
  box-sizing: border-box;
  box-shadow: 10px 10px 5px 10px;
  /* margin: 20px; */
  position: fixed;
  right: 50px;
  bottom: 50px;
  z-index: 200;
  padding: 2rem;
}
.chat-close {
  font-size: 50px;
  position: absolute;
  top: -20px;
  right: 0;
  color: #000000;
  cursor: pointer;
}

/* messages content END*/
